h1 {
    width: 65px;
    color: orange;
    font-family: sans-serif;
  }

  p {
    font-weight: 600;
    font-size: 3em;
  }

  ul {
    background-color: blue;
    line-height: 40px;
    text-decoration: underline;
  }

  .bgcolor-pul {
    background-color: bisque;
  }

  body {
    font-size: 16px;
    font-style: italic;
    text-align: center;
    background-color: antiquewhite;
  }

  #amarelo {
    background-color: yellow;
  }

  #vermelho {
    background-color: red;
  }

  #marrom {
    background-color: brown;
  }